---
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.astro';
import About from '../components/About.astro';
import Service from '../components/Service.astro';
import Price from '../components/Price.astro';
import Contact from '../components/Contact.astro';
import Map from '../components/Map.astro';
---

<Layout title="Sofdata">
	<main>
		<Home/>
		<About/>
		<Map/>
		<Service/>
		<Contact/>
	</main>
</Layout>


