<div class="container" id="nosotros">
    <p>Nosotros</p>
</div>
<style>
    .container {
        width: 100%;
        max-width: 1657px;
        height: 50vh;
        max-height: 583px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black; 
        box-sizing: border-box;
        padding-top: 10px;
    }
    .container p {
        font-size: 2vw; 
    }
</style>