<section class="about" id="about">
    <div class="container mx-auto px-4">
        <div class="about-data flex flex-wrap">
            <div class="w-full md:w-1/2 px-4">
                <div class="flex about-title gap-1 mb-4">
                    <hr>
                    <h5>NOSOTROS</h5>
                </div>
                <h2 class="text-white mb-4">Potenciando tu Presencia en Línea</h2>
                <p class="text-white mb-4">
                    En nuestro equipo, desarrollamos soluciones creativas y personalizadas para mejorar tu presencia en línea. Nos especializamos en analítica de datos y Big Data, convirtiendo tus ideas en acciones estratégicas que impulsarán tu crecimiento.
                </p>
                <div class="flex gap-1 mt-4">
                    <i class="fa-solid fa-check"></i>
                    <h6 class="text-white">Impulsamos tu presencia en línea.</h5>
                </div>
                <div class="flex gap-1 mt-4">
                    <i class="fa-solid fa-check"></i>
                    <h6 class="text-white">Convertimos tus ideas en estrategias efectivas.</h5>
                </div>
                <div class="flex mt-8 gap-4">
                    <a href="mailto:softdatainfo1@gmail.com" target="_blank" class="btn_hover1">Empecemos</a>
                    <a href="test" class="btn_hover2">Mostrar Más</a>
                </div>
            </div>
            <div class="w-full md:w-1/2 flex justify-center relative px-4 mt-8 md:mt-0">
                <div class="about-imgs">
                    <figure>
                        <img src="/New/home/about.png" alt="img">
                    </figure>
                    <div class="ab-count flex flex-col justify-center items-center">
                        <div class="flex items-center">
                            <h2>5</h2>
                            <h2>+</h2>
                        </div>
                        <p>años de experiencia</p>
                    </div>
                    <div class="about-hr">
                        <hr>
                        <h6>¿Quiénes somos?</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
.about {
    background: #1B2A4C;
    padding: 100px 0;
}
.about hr {
    opacity: 1.25;
    height: 1px;
    color: #E79D1C;
    width: 60px;
    border: 1px solid;
}
.about-data h2, .about-data p, .about h5, .about-hr h6 {
    color: #fff;
}
.about h5 {
    font-weight: 400;
    font-family: 'barlow', sans-serif;
}
.about i {
    border: 2px solid #fa982f;
    border-radius: 50%;
    padding: 3px;
    font-size: 20px;
    background: linear-gradient(66deg, #f54a48 0.87%, #fa982f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-data a {
    padding: 16px 38px !important;
}
.about-imgs {
    position: relative;
    background-image: url('/New/bg/about-bg.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.about-imgs figure {
    background: #E79D1C;
    width: fit-content;
    clip-path: circle(45% at 50% 50%);
    transition: all 0.8s ease;
}
.about-imgs figure:hover {
    transform: scale(1.05);
    transition: all 0.8s ease;
}
.about-imgs img {
    width: 85%;
    display: block;
    margin: auto;
    clip-path: circle(48% at 50% 50%);
}
.ab-count {
    flex-direction: column;
    text-align: center;
    background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
    color: #fff;
    position: absolute;
    bottom: -18px;
    left: 118px;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ab-count h2 {
    margin: 0;
}
.ab-count p {
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}
.about-hr {
    color: #fff;
    position: absolute;
    right: -50px;
    bottom: 25px;
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
}
.about-hr hr {
    opacity: 1.25;
    height: 1px;
    border: 1px solid #E79D1C;
    width: 60px;
}
.about-hr h6 {
    letter-spacing: 3.72px;
    text-transform: uppercase;
    margin: 0;
    margin-left: 10px;
}
</style>