<section class="feature">
    <div class="container">
        <div class="flex">
            <div class="header-card">
                <div>
                    <figure>
                        <img class="figure img" src="/New/icon/feature1.png" alt="img">
                    </figure>
                    <h4>Soluciones Personalizadas</h4>
                    <p>Creamos soluciones de analítica de datos y Big Data específicas para tu negocio, transformando tus datos en decisiones estratégicas para impulsar tu crecimiento.</p>
                </div>
            </div>
            <div class="header-card">
                <div>
                    <figure>
                        <img src="/New/icon/feature2.png" alt="img">
                    </figure>
                    <h4>INNOVACIÓN ANALÍTICA</h4>
                    <p>Proporcionamos soluciones innovadoras y a medida en analítica de datos y Big Data, transformando tus conceptos en estrategias efectivas para acelerar tu desarrollo.</p>
                </div>
            </div>
            <div class="header-card">
                <div>
                    <figure>
                        <img src="/New/icon/feature3.png" alt="img">
                    </figure>
                    <h4>Soluciones Creativas</h4>
                    <p>Desarrollamos soluciones creativas y personalizadas en analítica de datos y Big Data, convirtiendo tus ideas en acciones estratégicas para impulsar tu crecimiento.</p>
                </div>
            </div>
            <div class="header-card">
                <div>
                    <figure>
                        <img src="/New/icon/feature4.png" alt="img">
                    </figure>
                    <h4>Equipo de Expertos</h4>
                    <p>Nuestro equipo de expertos crea soluciones creativas y personalizadas en analítica de datos y Big Data, transformando tus conceptos en estrategias accionables para potenciar tu crecimiento.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .feature {
    background-color: #1B2A4C;
    margin-bottom: -1px;
    position: relative;
}

.feature .flex {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
}

.header-card {
    margin-top: -145px;
    display: flex;
    flex: 0 0 auto;
    width: 25%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
}

.header-card div {
    border-radius: 20px;
    background: linear-gradient(0deg, #1B2A4C 0%, #150803 100%);
    color: #fff;
    padding: 40px 30px;
    transition: all 0.4s ease;
}

.header-card div:hover {
    transform: scale(1.05);
    transition: all 0.4s ease;
}

.header-card .figure_img1 {
    width: 53px;
}

.header-card img {
    width: 60px;
}

.header-card h4 {
    width: 146px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    margin: 20px 0 12px 0;
}
</style>