<section class="logoipsum">
    <div class="container">
        <div class="flex flex-col gap-2">
            <hr class="hr1">
            <h3 class="mb-15">OUR CLIENTS</h3>
        </div>
        <div class="logoipsum-slider sliderlogo">
            <figure><img src="/New/home/logoipsum2.svg" alt="logoipsum"></figure>
            <figure><img src="/New/home/logoipsum2.svg" alt="logoipsum"></figure>
            <figure><img src="/New/home/logoipsum2.svg" alt="logoipsum"></figure>
            <figure><img src="/New/home/logoipsum2.svg" alt="logoipsum"></figure>
        </div> 
        <hr class="hr2">
    </div>
</section>

<style>
.logoipsum {
    background-color: #150725;
    padding: 150px 0;
    margin-top: -1px;
}

.logoipsum-slider {
    margin-top: 24px;
}

.logoipsum h3 {
    letter-spacing: 1.25px;
    color: #fff;
    text-transform: uppercase;
}

.logoipsum img {
    width: 170px;
    margin: 0 auto;
}

.logoipsum .hr1 {
    opacity: 1;
    height: 2px;
    width: 60px;
    rotate: 90deg;
    margin: 0 auto 50px auto;
    background: rgba(255, 255, 255, 255);
}

.logoipsum .hr2 {
    opacity: 1;
    height: 2px;
    width: 60px;
    rotate: 90deg;
    margin: 70px auto 0 auto;
    background: rgba(255, 255, 255, 0.75);
}

</style>