<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

<header class="header" id="header">
    <nav class="nav container">
       <a href="#" class="nav__logo">
          <i class="ri-line-chart-fill"></i>SoftData
       </a>
       <div class="nav__menu">
          <ul class="nav__list">
             <li class="nav__item">
                <a href="#home" class="nav__link">
                   <i class="ri-home-line"></i>
                   <span>Inicio</span>
                </a>
             </li>

             <li class="nav__item">
                <a href="#featured" class="nav__link">
                   <i class="ri-book-3-line"></i>
                   <span>Nosotros</span>
                </a>
             </li>

             <li class="nav__item">
                <a href="#discount" class="nav__link">
                   <i class="ri-price-tag-3-line"></i>
                   <span>Servicios</span>
                </a>
             </li>

             <li class="nav__item">
                <a href="#new" class="nav__link">
                   <i class="ri-bookmark-line"></i>
                   <span>Precios</span>
                </a>
             </li>

             <li class="nav__item">
                <a href="#testimonial" class="nav__link">
                   <i class="ri-message-3-line"></i>
                   <span>Contacto</span>
                </a>
             </li>
          </ul>
       </div>
       <div class="nav__actions">
          <i class="ri-search-line search-button" id="search-button"></i>

          <i class="ri-user-line login-button" id="login-button"></i>

          <i class="ri-moon-line change-theme" id="theme-button"></i>
       </div>
    </nav>
 </header>

