<div class="site-wrapper">
    <div class="header-index">
        <header>
            <nav class="container navbar">
                <div class="container-nav flex">
                    <a href="/" class="navbar-logo"><img src="/New/logo.png" alt=""></a>
                    <button onclick="openNav()" class="navbar-toggler" type="button">
                        <span class="fa-solid fa-bars"></span>
                    </button>
                    <!-- Menús -->
                    <ul class="navbar-nav flex">
                        <li><a href="/" class="nav-link active">Inicio</a></li>
                        <li><a href="/about" class="nav-link">Nosotros</a></li>
                        <li><a href="/contact" class="nav-link">Contacto</a></li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle">Paginas</a>
                            <ul class="dropdown-menu">
                                <li><a href="/services" class="dropdown-item">Servicios</a></li>
                                <li><a href="/pricing-plan" class="dropdown-item">Planes de precios</a></li>
                                <li><a href="/portfolio" class="dropdown-item">Portfolio</a></li>
                                <li><a href="/team" class="dropdown-item">Equipo</a></li>
                                <li><a href="/testimonials" class="dropdown-item">Testimonios</a></li>
                                <li><a href="/faq" class="dropdown-item">FAQ</a></li>
                                <li><a href="/blog" class="dropdown-item">Blog</a></li>
                                <li><a href="/coming-soon" class="dropdown-item">Próximamente</a></li>
                                <li><a href="/404" class="dropdown-item">404</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="nav-right flex">
                    <p>Llámanos: <span>+51 938 790 848</span></p>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-bars"></i>
                </div>
            </nav>
            <!--sidebar-->
            <aside id="mySidepanel" class="sidepanel">
                <div class="sidebar flex">
                    <a href="">
                        <img src="/New/logo.png" alt="logo"></a>
                        <button onclick="closeNav()" type="button" class="closebtn btn_hover1">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    
                </div>
                <div>
                    <!---side menus-->
                    <ul>
                        <li><a href="" class="nav-link active">Inicio</a></li>
                        <li><a href="" class="nav-link">Nosotros</a></li>
                        <li><a href="" class="nav-link">Contacto</a></li>
                        <li class="pages"><a href="" class="nav-link">Mas</a></li>
                        <li class="collapse-btn">
                            <a href="" class="nav-link plus-collapse" data-bs-toggle="collapse">
                                <i class="fa-solid fa-plus"></i>
                            </a>
                            <div class="collapse" id="pages">
                                <ul>
                                    <li><a href="/services" class="nav-link">Servicios</a></li>
                                    <li><a href="/pricing-plan" class="nav-link">Planes de precios</a></li>
                                    <li><a href="/portfolio" class="nav-link">Portfolio</a></li>
                                    <li><a href="/team" class="nav-link">Equipo</a></li>
                                    <li><a href="/testimonials" class="nav-link">Testimonios</a></li>
                                    <li><a href="/faq" class="nav-link">FAQ</a></li>
                                    <li><a href="/blog" class="nav-link">Blog</a></li>
                                    <li><a href="/coming-soon" class="nav-link">Próximamente</a></li>
                                    <li><a href="/404" class="nav-link">404</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </aside>
        </header>
        <section class="hero">
            <div class="container">
                <div>
                    <div class="hero-social-icon flex">
                        <a href="https://www.facebook.com/profile.php?id=61553893333483" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.instagram.com/rodrigou.py?igsh=MWc1OWh4d2Vpano4OA==" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://github.com/rodridev-01/softdataWeb_Eva01" target="_blank"><i class="fa-brands fa-github"></i></a>
                        <hr>
                    </div>
                    <div class="center-data flex flex-col gap-1 items-center">
                        <h1>Precisión Analítica</h1>
                        <h3>Impulsando Tu Negocio con Datos</h3>
                        <div class="center-btn flex gap-15 mt-1">
                            <a href="mailto:softdatainfo1@gmail.com" target="_blank" class="btn_hover1">Empecemos</a>
                            <a href="test" class="btn_hover2">Mostrar más</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
  </div>


  <style>
  .header-index {
    background-image: url('/New/bg/hero_bg.png');
    background-position: center center;
    background-size: cover;
}

header {
    padding: 20px 0;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 15px;
    color: #d3c9c1;
}

.container-nav {
    gap: 70px;
}

.navbar-logo {
    margin-right: 25px;
}

.navbar-toggler {
    border: 1px solid #014F79;
    background: linear-gradient(42deg, #014F79 0.01%, #E79D1C 100%);
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    display: none;
}

.navbar-toggler:hover {
    background: inherit;
}

.navbar-toggler span {
    color: #fff;
    font-size: 22px;
}

.navbar-nav {
    gap: 50px;
}

.nav-link {
    font-weight: 400;
    color: #d3c9c1;
}

nav li a.active,
.nav-link:is(:hover, :focus-visible) {
    color: #E79D1C;
}

.dropdown {
    position: relative;
}

.dropdown-toggle::after {
    content: '+';
    vertical-align: center;
    margin-left: 5px;
}

.dropdown-menu {
    position: absolute;
    padding: 30px;
    z-index: 9;
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    width: 220px;
    padding: 15px 0 15px 0;
    border-radius: 10px;
    background-color: #1B2A4C;
    margin-left: -52px;
}

.dropdown-menu li {
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #fff;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}

.dropdown-item::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    transition: all 0.3s ease-in-out;
    background-color: #014F79;
    z-index: -1;
    top: 0;
    left: 0;
}

.dropdown-item:hover::before {
    width: 100%;
    background-color: #014F79;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #fff;
    background-color: inherit;
}

.dropdown-item {
    display: block;
    width: 100%;
}

.nav-right {
    gap: 45px;
}

.nav-right p {
    color: #d3c9c1
}

.nav-right span {
    color: #E79D1C;
}

.fa-magnifying-glass {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.nav-right .fa-magnifying-glass:active {
    color: #999;
    transform: scale(0.8);
}

.nav-right .fa-bars {
    color: #fff;
    font-size: 22px;
    background-color: #150803;
    padding: 7px 8px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-right .fa-bars:active {
    transform: scale(0.9);
}
.btn_hover1 {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    border: 1.5px solid #014F79;
    color: #fff;
    z-index: 1;
    letter-spacing: 0.8px;
    background: linear-gradient(180deg, #1B2A4C 0%, #014F79 100%);
    cursor: pointer;
}

.btn_hover1:before {
    border-radius: 50px;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in;
    background: linear-gradient(42deg, #014F79 0.01%, #1B2A4C 100%);
    z-index: -1;
    top: 0;
    right: 0;
}

.btn_hover1:hover::before {
    width: 0;
    background: linear-gradient(42deg, #014F79 0.01%, #1B2A4C 100%);
}
@media screen and (max-width:880px) {
    .navbar-toggler {
        display: block !important;
    }

    .navbar-nav,
    .nav-right {
        display: none !important;
    }

    .container-nav {
        width: 100%;
        justify-content: space-between;
    }
}

/*sidebar*/
.sidepanel {
    background-color: #132848;
    z-index: 10;
    position: fixed;
    width: 320px;
    height: 100vh;
    top: 0;
    left: -320px;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 40px 20px 20px 20px;
}

.sidebar {
    justify-content: space-between;
}

.sidebar img {
    width: 100px;
}

.sidebar button {
    width: 44px;
    height: 44px;
    padding: 10px 12px 10px 12px;
    margin-bottom: -15px;
    border-radius: 0.25em;
    color: #fff;
    cursor: pointer;
}

.sidebar button:hover {
    background: inherit;
}

.sidebar a {
    padding: 10px 0;
}

aside ul {
    padding: 0;
    display: flex;
    flex-direction: column;
}

aside ul li {
    margin: 15px 0;
}

aside li a {
    color: #d3c9c1;
    transition: 500ms;
    padding: 10px 0;
}

aside ul li a.active {
    color: #E79D1C;
}

aside ul li a:hover {
    color: #E79D1C;
    transition: 500ms;
}

aside .pages {
    font-weight: 500;
    color: #d3c9c1;
    margin: 11px 0 7px 0;
}

.collapse-btn {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.collapse-btn i {
    border: 1px solid #d3c9c1;
    padding: 7px 8px;
    border-radius: 40px;
}

.collapse-btn i:hover {
    border: 1px solid #E79D1C;
}

.plus_collapse {
    margin: -52px 0 0 0;
    height: 45px;
}

#pages {
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
}

.show {
    height: 500px !important;
    transition: height 0.34s ease;
}

/*<!--====1.2 Hero section ===--> */

.hero {
    background-image: url("/New/bg/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 172px 0 279px 0;
}

.hero .container {
    position: relative;
}

.hero h1 {
    color: #fff;
    letter-spacing: 3.75px;
    text-transform: uppercase;
}

.hero-social-icon {
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: flex-start !important;
}

.hero-social-icon a {
    padding: 16px 38px 16px 38px !important;
}

.hero-social-icon a i {
    font-size: 26px;
    background: #E79D1C;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-social-icon a i:hover {
    background: linear-gradient(0deg, #f54a48 0.5%, #fa982f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-social-icon hr {
    display: block;
    margin-top: 68px;
    opacity: 1;
    color: #fff;
    width: 110px;
    rotate: 90deg;
}

.center-data h3 {
    color: #fff;
    text-transform: uppercase;
}

.center-btn {
    gap: 1.5rem;
}

.btn_hover2 {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    border: 1.5px solid #E79D1C;
    color: #fff;
    z-index: 1;
    letter-spacing: 0.8px;
    background-color:#E79D1C;
}

.btn_hover2::before {
    content: '';
    border-radius: 50px;
    position: absolute;
    width: 0;
    height: 100%;
    transition: all 0.3s ease-in;
    background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
    z-index: -1;
    top: 0;
    left: 0;
}

.btn_hover2:hover::before {
    width: 100%;
    border-radius: 50px;
    background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
}

.center-btn a {
    padding: 16px 38px 16px 38px;
}
  </style>