<section class="home section" id="home">
    <div class="home__container container grid">
       <div class="home__data">
          <h1 class="home__title">
             Soluciones <br>
             Empresariales con Datos
          </h1>
          <p class="home__description">
             Apoyamos a las empresas en la gestión de los datos permitiendo analizar la información de manera organizada, creando conocimiento para la toma de decisiones.
          </p>
          <a href="#" class="button">
             Ver más
          </a>
       </div>
       <div class="home__images">
                <article class="home__article">
                   <img src="../src/components/assets/img/home.png" alt="image" class="home__img">
                </article>
       </div>
    </div>
 </section>