<section class="home section" id="home">
    <div class="home__container container grid">
       <div class="home__data">
          <h1 class="home__title">
             Soluciones <br>
             Empresariales con Datos
          </h1>
          <p class="home__description">
             Apoyamos a las empresas en la gestión de los datos permitiendo analizar la información de manera organizada, creando conocimiento para la toma de decisiones.
          </p>
          <a href="#" class="button">
             Ver más
          </a>
       </div>
       <div class="home__images">
                <article class="home__article">
                   <img src="/resource/img/home.png" alt="image" class="home__img">
                </article>
       </div>
    </div>
 </section>


 <style>
   .home__container {
  padding-top: 2rem;
  row-gap: 2.5rem;
}

.home__data {
  text-align: center;
}

.home__title {
  font-size: var(--biggest-font-size);
  margin-bottom: 1rem;
}

.home__description {
  margin-bottom: 2rem;
}

.home__images {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 100%;
  height: 100%; 
  overflow: hidden; 
}

.home__images img {
  max-width: none; 
  width: 540px; 
  height: auto; 
  object-fit: contain; 
}
 </style>