<div class="login grid" id="login-content">
    <form action="" class="login__form">
       <h3 class="login__title">Login</h3>

       <div class="login__group grid">
          <div>
             <label for="login-email" class="login__label">Email</label>
             <input type="email" placeholder="Ingrese su correo electronico" id="login-email" class="login__input">
          </div>

          <div>
             <label for="login-pass" class="login__label">Contraseña</label>
             <input type="password" placeholder="Ingrese su contraseña" id="login-pass" class="login__input">
          </div>


          <div>
             <span class="login__signup">
                ¿No tienes una cuenta? <a href="#">Registrarse</a>
             </span>

             <a href="#" class="login__forgot">
                ¿Olvidaste tu contraseña?
             </a>

             <button type="submit" class="login__button button">
                Iniciar Sesión
             </button>

             <i class="ri-close-line login__close" id="login-close"></i>

          </div>
       </div>
    </form>
 </div>

