---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from '../components/Header.astro';
import Login from '../components/Login.astro';
import Search from '../components/Search.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="../src/components/assets/css/styles.css">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<Header/>
    <Search/>
    <Login/>
	</head>
	<body>
		<slot />
	</body>
</html>
<script src="../src/components/assets/js/main.js" is:inline></script>