---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from '../components/Header.astro';
import Login from '../components/Login.astro';
import Search from '../components/Search.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<Header/>
    <Search/>
    <Login/>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@500&family=Montserrat:wght@400;500;600&display=swap");

:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: hsl(230, 62%, 56%);
  --title-color: hsl(230, 70%, 16%);
  --text-color: hsl(230, 16%, 45%);
  --border-color: hsl(230, 50%, 90%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(230, 100%, 96%);
  --container-color: hsl(230, 100%, 97%);

  /*========== Font and typography ==========*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Montagu Slab", serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color .4s;
}

input,
button {
  border: none;
  outline: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


.container {
  max-width: 1220px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  margin-bottom: 2rem;
}

.main {
  overflow: hidden; 
}
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  padding: 1rem 1.5rem;
  transition: box-shadow .4s;
  border-radius: 10px;
}
.button:hover{
  box-shadow: 0 4px 32px hsla(230, 72%, 32%, .4);
}

@media screen and (max-width: 320px){
  .container{
    margin-inline:1rem;
  }

  .nav__menu{
    padding-inline: 3rem;
  }
}
/* For medium devices */
@media screen and (min-width: 450px){

}
@media screen and (min-width: 576px){
  .search__form{
    width: 500px;
    margin-inline: auto;
  }

  .login__form{
    width:400px;
    justify-self: center;
  }

  .search__close,
  .login__close{
    width: max-content;
    top: 4rem;
    left: 0;
    right: 0;
    margin-inline: auto;
  }

  .nav__menu{
    width: 380px;
    margin-inline:auto;
  }

  .home__container{
    grid-template-columns: 420px;
  }
}

@media screen and (min-width: 768px){
  .home__container{
    grid-template-columns: 580px;
  }

  .home__data{
    width: 420px;
    justify-self: center;
  }
}

/* For large devices */
@media screen and (min-width: 1150px){
  .section{
    padding-block: 7rem 2rem;
  }
  
  .nav{
    height: calc(var(--header-height) + 2rem);
    column-gap: 4rem;
  }
  
  .nav__link i{
    display: none;
  }
  
  .nav__link span{
    display: block;
  }
  
  .nav__menu{
    width: initial;
    margin-inline: auto 0;
  }
  
  .nav__list{
    column-gap: 4rem;
  }

  .nav__link{
    font-weight: var(--font-medium);
  }

  .home__data{
    width: initial;
  }
  }

  @media screen and (min-width: 1220px){
  .container{
    margin-inline: auto;
  }

  .home__container{
    grid-template-columns: 435px 745px;
    align-items: center;
    padding-block: 7rem 2rem;
  }

  .home__data{
    text-align: initial;
  }
  .home__description{
    margin-bottom: 4rem;
  }
  .home__article,
  .home__img{
    width: 390px;
  }
 }
</style>
<script src="/resource/js/main.js" is:inline></script>